<body>
    <header>
      <h1>Share Netflix</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "ホーム", movie_index_path %></li>
        <li><%= link_to '投稿する', :controller => "movie", :action => "new" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
      </ul>
      </div>
    </header>
  </body>

<section id="first-block">
<h2>作品投稿一覧</h2>
<h3>~おすすめされた作品の一覧を見よう！~</h3>
</section>

<section id="second-block">
<div class="movies-container">
  <% @movies.each do |m| %>
    <div class="movie">
     <div class="main-box">
      <div class="rigth-box">
       <%= image_tag m.image_url %>
      </div>
      <div class="left-box">
       <div class="title-box">
         <%= m.name %>
       </div>
        <p class="info-text">
        <%= m.genre %>
        <br>
        投稿者:<%= m.user.name %>
        <br>
        ♡<%= m.liked_users.count %>
        </p>
      </div>
     </div>
     <div class="sub-box">
     <%= link_to "詳しく見る！", movie_path(m.id) %>
     <%= link_to "編集する", edit_movie_path(m.id) %>
     </div>
    </div>
  <% end %>
</div>

<%= stylesheet_link_tag 'movie', :media => "all" %>